<main>
    <div class="container">
        <div class="day-wrap">
            <section class="day-area">
                <h2>Escolha o Dia</h2>

                <div class="day-option">
                    <div class="bnt-wrap"><button class="day ativo"></button><span>Seg</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Ter</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Qua</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Qui</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Sex</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Sab</span></div>
                    <div class="bnt-wrap"><button class="day"></button><span>Dom</span></div>
                </div>
            </section>

            <div class="card-area">
                <app-card-training-component></app-card-training-component>
            </div>
        </div>
    </div>
</main>
