<main>
    <div class="container">
        <div class="day-wrap">
            <section class="day-area">
                <h2>Escolha o Dia</h2>

                <div class="day-option">
                    @for (item of [].constructor(7); track $index){
                        <button class="day" [class.ativo]="$index === ativo" (click)="bntDayOfWeek($index)"></button>
                    }
                </div>
                <div class="day-name-wrap">
                    <span class="day-name">Seg</span>
                    <span class="day-name">Ter</span>
                    <span class="day-name">Qua</span>
                    <span class="day-name">Qui</span>
                    <span class="day-name">Sex</span>
                    <span class="day-name">Sab</span>
                    <span class="day-name">Dom</span>
                </div>
            </section>

            <div class="card-area">
                <a routerLink="/workout">
                    <app-card-training-component
                    [dayOfWeek] = "day"
                    ></app-card-training-component>
                </a>
            </div>
        </div>
    </div>
</main>
