main {
    margin-bottom: 8rem;
}

.day-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.day-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 6px;
    gap: .5rem;
}

.text {
    display: flex;
    gap: 5px;
}

h2 {
    display: inline-block;
}

.text-h2 {
    color: rgb(248, 134, 53);
}

.day-name-wrap {
    display: flex;
    gap: 1.2rem;
}

.bnt-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.day {
    width: 15px;
    height: 15px;
    padding: 8px;
    margin: 1rem;
    border-radius: 50%;
    border: 0;
    outline: 1px solid #ccc;
    cursor: pointer;
}

.ativo {
    background-color: rgb(248, 134, 53);
}
