<div class="container">
    <section class="login-registration-wrap">
        <div class="title">
            <img src="dumbbell-solid-full.svg" alt="">
            <h2> {{isLoginMode ? 'Acesso de ' : 'Acesso de '}} {{user}} </h2>
            <p> {{isLoginMode ? 'Entre na sua conta' : 'Crie sua conta'}} </p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            @if(!isLoginMode) {
                <div class="input-area">
                    <label for="name">Nome</label>
                    <input type="text" placeholder="Seu nome" formControlName="name">
                </div>
                <div class="erro" 
                *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                <span>Nome é obrigatório!</span>
                </div>
            }

            <div class="input-area">
                <label for="email">Email</label>
                <input type="email" placeholder="seu@email.com" name="email" id="email" formControlName="email">
            </div>
            <div class="erro" 
                *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <span>Email é obrigatório!</span>
            </div>

            <div class="input-area">
                <label for="password">Senha</label>
                <input type="password" placeholder="******" name="password" id="password" formControlName="password">
            </div>
            <div class="erro" 
                *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">
                <span>A senha é obrigatória!</span>
            </div>
            <div class="erro" 
                *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched">
                <span>Email precisa ter 6 dígitos!</span>
            </div>

            <button type="submit"> {{isLoginMode ? 'Entrar' : 'cadastrar'}} </button>

            <a (click)="loginMode()" class="link"> {{isLoginMode ? 'Não tem conta? Cadastre-se' : 'Já tem conta? Entre'}} </a>
        </form>
    </section>
</div>
