.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-registration-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    border: 1px solid #ccc;
    width: 35%;
    min-height: 550px;
    margin: 0 auto;
    padding: 2rem 0;
}

.title {
    text-align: center;
}

svg {
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: auto;
}

form input {
    width: 100%;
    height: 2.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
}

form input:hover {
    border: 1px solid #929292;
}

form input:focus-visible {
    outline: 1px solid #929292;
    border: none;
    padding-left: 10px;;
}

form input:placeholder-shown {
    padding: 0 10px;
}

.erro {
    width: 90%;
    margin: auto;
    color: red;
    font-size: 14.5px;
}

span {
    border-left: 3px solid red;
    padding-left: 2px;
}

form button {
    width: 80%;
    height: 2rem;
    border-radius: 8px;
    background-color: rgb(248, 134, 53);
    color: white;
    border: none;
    margin: auto;
}

label {
    display: block;
}

.link {
    text-align: center;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
