.review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.review-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 450px;
    width: 500px;
}

.text-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(248, 134, 53);
}
