<article class="card">
    @if (cardNow.titulo != null) {
        <div class="title-wrap">
        <div class="text">
            <h1 class="day-match">Treinos de </h1> <h1 class="day"> {{dayOfWeek}} </h1>
        </div>
        <div class="title">
            <h2> {{cardNow.titulo}} </h2>
            <div class="type">
                <img src="dumbbell-solid-full.svg" alt=""> <p>  {{cardNow.tipoTreino}} </p>
            </div>
    </div>
    </div>
    <div class="treinos">
        @for (item of cardNow.treinos; track $index) {
        <div class="campo-treino">
            <p> {{item.nome}} </p> <p> {{item.quant}} </p> 
        </div>
    }
    </div>
    }
    @else {
        @if (userType == 'Aluno') {
            <h1 class="null-treino">Seu <span class="orange">Personal</span> está preparando seu treino</h1>
        }
        @else {
            <div class="create-Treino">
                <h1>Não existe treino para esse dia</h1>
                <a [routerLink]="['/workout', userType, dayOfWeek]">Crie um treino</a>
            </div>
        }
    }
</article>