.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 30px 24px;
}

.card svg {
    height: 20px;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.day-match {
    font-size: 18px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.type {
    display: flex;
    gap: 0.5rem;
}

.treinos {
    align-self: flex-start;
    width: 300px;
    padding: 0 12px;
}

.campo-treino {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
