<header class="header">
    <div class="container">
        <div class="brand-wrap">
            <img src="dumbbell-solid-full.svg">
            <div class="bran-text">
                <a href="" class="brand-up">FitTracker</a>
                <a href="" class="brand-down">seus treinos da semana</a>
            </div>
        </div>
        @if (typeUser == '') {
            <div class="login-registration">
                <a [routerLink]="['/login-registration', 'Aluno']" class="login-registration-student"> <img src="user-regular-full.svg" class="btn-enter"> Aluno</a>
                <a [routerLink]="['/login-registration', 'Personal']" class="login-registration-personal"> <img src="person-walking-solid-full.svg" class="btn-enter"> Personal</a>
            </div>
        }
        @else {
            <a onclick="location.reload()" class="exit"> <img src="right-from-bracket-solid-full.svg" class="btn-exit"> sair</a>
        }
    </div>
</header>
