.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #BDBEBF;
    margin-bottom: 2rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 12px;
}

.container ul {
    display: flex;
    gap: 2rem;
}

.brand-wrap {
    display: flex;
    gap: 1rem;
}

.brand-wrap img {
    width: 40px;
}

.bran-text {
    display: flex;
    flex-direction: column;
}

.brand-up {
    font-size: 20px;
    font-weight: 700;
}

.brand-down {
    font-size: 12px;
}

.login-registration{
    display: flex;
    gap: 1rem;
}

.login-registration-student{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 120px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0 18px;
    border-radius: 6px;
    cursor: pointer;
}

.login-registration-personal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: rgb(248, 134, 53);
    color: white;
    width: 120px;
    text-align: center;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-enter {
    width: 18px;
}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    border-radius: 6px;
    gap: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-exit {
    width: 20px;
}
