.change-card {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

.change-card-wrap {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: fit-content;
    min-height: 450px;
    padding: 10px 0;
}

select {
    width: 70%;
    margin: 0 auto;
    padding: 10px 12px;
    border-radius: 8px;
}

select:focus {
    outline: none;
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    padding: 10px 0;
}

.titulo-wrap,
.tipoTreino-wrap,
.name-wrap,
.quant-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.treinos-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quantTreinos-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #444444;
}

.treinos-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 400px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
}

input:hover{
    border: 1px solid #929292;

}

input:focus-visible {
    outline: 1px solid #929292;
    border: none;
    padding-left: 10px;;
}

.btn-increase {
    text-align: center;
    padding: 0 5px;
    background-color: rgb(248, 134, 53);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-submit {
    align-self: center;
    width: 30rem;
    padding: 5px 0;
    margin: 8px 0;
    background-color: rgb(248, 134, 53);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
