.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.orange {
    color: rgb(248, 134, 53);
}
