<div class="container">
    <h1 *ngIf="userType == 'Aluno'">Veja seu treino mais de <span class="orange">perto</span></h1>
    <h1 *ngIf="userType == 'Personal'">Faça o <span class="orange">melhor</span> treino para seu Aluno</h1>
    <div class="cards">
        <div class="card-area">
            <app-card-training-component
            [dayOfWeek] = "day"
            ></app-card-training-component>
        </div>
        @if (userType == 'Aluno') {
            <div class="review">
            <app-review-component></app-review-component>
            </div>
        }
        @else {
            <app-change-card-component
            [dayOfWeek] = "day"
            ></app-change-card-component>
        }
    </div>
</div>
