<section class="carousel">
    <div class="container">
        <div class="carousel-wrap">
            <div class="img">
                <img [src]="imagens[indiceAtual]" alt="">
            </div>

            <div class="carousel-text">
                    <h2>Tranforme seu corpo</h2>
                    <p>Acompanhe seu treinos e alcance seus objetivos</p>
            </div>

            <div class="arrow">
                <button (click)="before()"><img src="angle-left-solid-full.svg" alt=""></button>
                <button (click)="after()"><img src="angle-right-solid-full.svg" alt=""></button>
            </div>

            <div class="bnt-nav-wrap">
                @for (item of imagens; track $index){
                    <button class="bnt-nav" [class.ativo]='indiceAtual === $index' (click)="bntNav($index)"></button>
                }
            </div>
        </div>
    </div>
</section>
