.footer {
    background-color: rgb(248, 134, 53);
    height: 280px;
    color: white;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;  
}

.footer-wrap {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 1.5rem 0 3rem 0;
    border-bottom: 1px solid #ccc;
}

.text {
    width: 280px;
}

.text p {
    font-size: 13px;
}

.copy-right {
    align-self: center;
}
