.footer {
    background-color: rgb(248, 134, 53);
    height: 280px;
    color: white;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;  
}

.footer-wrap {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 1.5rem 0 3rem 0;
    border-bottom: 1px solid #ccc;
}

.branch-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;
}

.branch-wrap p {
    font-size: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40px;
    color: white;
    cursor: pointer;
    margin-top: .5rem;
}

.copy-right {
    align-self: center;
}
